/* Root */
:root {
	--bg-primary: #5454d4;
}

/* Reset CSS */
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}
img,
picture {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}

/* Font-Face */
@font-face {
	font-family: "NunitoSans-Regular";
	src: url(../assets/fonts/NunitoSans-Regular.ttf);
}

@font-face {
	font-family: "NunitoSans-Bold";
	src: url(../assets/fonts/NunitoSans-Bold.ttf);
}

body {
	font-family: "NunitoSans-Regular";
	min-height: 100vh;
}

.header .navbar {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 25px 0;
}
.navbar .nav-link {
	color: #fff !important;
	opacity: 0.7 !important;
	line-height: 24px;
}
.navbar .btn {
	font-size: 16px;
	line-height: 21px;
}
.navbar .navbar-nav {
	gap: 40px;
}
.hero {
	padding-top: 170px;
	min-height: 100vh;
	background-color: #19191b;
}
.hero .title {
	font-family: "NunitoSans-Bold";
	font-size: 80px;
	position: relative;
	line-height: 84px;
	z-index: 2;
}
.hero .subtitle {
	max-width: 536px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #5454d4 !important;
	outline: none;
	border: none;
	padding: 16px 27px;
}

.hero .left::before {
	content: "";
	position: absolute;
	width: 467px;
	height: 1233.79px;
	left: 250px;
	top: -150px;
	background: linear-gradient(
		180deg,
		rgba(84, 84, 212, 0.27) 0%,
		rgba(84, 84, 212, 0.1134) 100%
	);
	filter: blur(300px);
	border-radius: 233.5px;
	transform: rotate(-54.37deg);
}

.hero .right {
	position: relative;
}
.hero .right .img {
	height: 100%;
	max-height: 712px;
	width: 560px;
}
.hero .right .zig,
.hero .right .arrow,
.hero .right .circle,
.hero .right .plus {
	position: absolute;
	max-width: 95px;
}
.hero .right .zig {
	top: 0;
	left: -40px;
}
.hero .right .arrow {
	top: 565px;
	left: -90px;
}
.hero .right .circle {
	top: 0;
	left: 530px;
}
.hero .right .plus {
	bottom: 0;
	right: -30px;
}

.video {
	position: relative;
	padding-top: 151px;
}
.video::after {
	content: "";
	position: absolute;
	width: 467px;
	height: 508.5px;
	left: -85px;
	top: 1000px;

	background: linear-gradient(
		180deg,
		rgba(84, 84, 212, 0.21) 0%,
		rgba(84, 84, 212, 0.0882) 100%
	);
	filter: blur(300px);
	border-radius: 233.5px;
	transform: rotate(-54.37deg);
}
.video .title {
	font-family: "NunitoSans-Bold";
	font-size: 60px;
	line-height: 70px;
}
.video .video-container {
	position: relative;
	background-image: url(../assets/images/video.png);
	/* max-height: 670px; */
	height: 670px;
	width: 100%;
}
.video-container i {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 50px;
	background-color: var(--bg-primary);
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	width: 124px;
	height: 124px;
}

.fs-18 {
	font-size: 18px;
}
.fs-21 {
	font-size: 21px;
	line-height: 39px;
}

.f-light {
	color: #fff !important;
	opacity: 0.7 !important;
}
.bg-section {
	background-color: #19191b;
}
