/* Root */
:root {
	--bg-primary: #5454d4;
}

/* Reset CSS */
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}
img,
picture {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}

/* Font-Face */
@font-face {
	font-family: "NunitoSans-Regular";
	src: url(../assets/fonts/NunitoSans-Regular.ttf);
}

@font-face {
	font-family: "NunitoSans-Bold";
	src: url(../assets/fonts/NunitoSans-Bold.ttf);
}

body {
	font-family: "NunitoSans-Regular";
	min-height: 100vh;
	overflow-x: hidden;
	background-color: #19191b;
}

.header .navbar {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 25px 0;
}
.navbar .nav-link {
	color: #fff !important;
	opacity: 0.7 !important;
	line-height: 24px;
}
.navbar .btn {
	font-size: 16px;
	line-height: 21px;
}
.navbar .navbar-nav {
	gap: 40px;
}
.hero {
	padding-top: 170px;
	min-height: 100vh;
	background-color: #19191b;
}
.hero .title {
	font-family: "NunitoSans-Bold";
	font-size: 80px;
	position: relative;
	line-height: 84px;
	z-index: 2;
}
.hero .subtitle {
	max-width: 536px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #5454d4 !important;
	outline: none;
	border: none;
	padding: 16px 27px;
}

.hero .left::before {
	content: "";
	position: absolute;
	width: 467px;
	height: 1233.79px;
	left: 250px;
	top: -150px;
	background: linear-gradient(
		180deg,
		rgba(84, 84, 212, 0.27) 0%,
		rgba(84, 84, 212, 0.1134) 100%
	);
	filter: blur(300px);
	border-radius: 233.5px;
	transform: rotate(-54.37deg);
	z-index: 1;
}

.hero .right {
	position: relative;
}
.hero .right .img {
	height: 100%;
	max-height: 712px;
	width: 560px;
}
.hero .right .zig,
.hero .right .arrow,
.hero .right .circle,
.hero .right .plus {
	position: absolute;
	max-width: 95px;
}
.hero .right .zig {
	top: 0;
	left: -40px;
}
.hero .right .arrow {
	top: 565px;
	left: -90px;
}
.hero .right .circle {
	top: 0;
	left: 530px;
}
.hero .right .plus {
	bottom: 0;
	right: -30px;
}

.video {
	position: relative;
	padding-top: 151px;
}
.video::after {
	content: "";
	position: absolute;
	width: 467px;
	height: 508.5px;
	left: -85px;
	top: 1000px;

	background: linear-gradient(
		180deg,
		rgba(84, 84, 212, 0.21) 0%,
		rgba(84, 84, 212, 0.0882) 100%
	);
	filter: blur(300px);
	border-radius: 233.5px;
	transform: rotate(-54.37deg);
	z-index: 2;
}
.video .title {
	font-family: "NunitoSans-Bold";
	font-size: 60px;
	line-height: 70px;
}
.video .video-container {
	position: relative;
	background-image: url(../assets/images/video.png);
	/* max-height: 670px; */
	height: 670px;
	width: 100%;
}
.video-container i {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 50px;
	background-color: var(--bg-primary);
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	width: 124px;
	height: 124px;
}

.service {
	padding: 150px 0;
	position: relative;
}
.service .title {
	font-family: "NunitoSans-Bold";
	font-size: 60px;
	line-height: 70px;
	max-width: 695px;
}
.service .arrow {
	position: absolute;
	top: 140px;
	left: 175px;
}
.service .plus {
	position: absolute;
	top: 240px;
	right: 110px;
	transform: rotate(55deg);
}
.service .card {
	background-color: transparent;
	border: none;
}
.service .card-title {
	font-weight: 600;
	font-size: 28px;
	line-height: 38px;
}
.service .plus-bottom {
	position: absolute;
	bottom: 65px;
	left: 100px;
	transform: rotate(30deg);
}

.portofolio {
	/* position: relative; */
	/* overflow: hidden; */
	padding-bottom: 125px;
}
.portofolio::before {
	content: "";
	position: absolute;
	width: 599.58px;
	height: 652.85px;
	right: -150px;
	bottom: -2960px;

	background: linear-gradient(
		180deg,
		rgba(84, 84, 212, 0.2) 0%,
		rgba(84, 84, 212, 0.084) 100%
	);
	filter: blur(300px);
	border-radius: 233.5px;
	transform: matrix(-0.58, -0.81, -0.81, 0.58, 0, 0);
	z-index: 1;
}
.portofolio .container {
	position: relative;
}
.portofolio .title {
	font-family: "NunitoSans-Bold";
	font-size: 58px;
	line-height: 79px;
	margin-bottom: 70px;
}
.portofolio .circle {
	position: absolute;
	top: 70px;
	right: 0;
}
.portofolio .zig {
	position: absolute;
	bottom: -20px;
	left: 0;
}

.portofolio .swiper {
	padding-bottom: 50px;
	overflow-x: hidden;
}
.portofolio .swiper-wrapper {
	justify-content: space-between;
}
.portofolio .swiper-wrapper .swiper-slide {
	max-width: 350px;
}
.portofolio .swiper-wrapper .swiper-slide:nth-child(2),
.portofolio .swiper-wrapper .swiper-slide:nth-child(4) {
	margin-top: 58px;
}
.portofolio .swiper-wrapper .swiper-slide:nth-child(3) {
	margin-top: 110px;
}
.portofolio .swiper-pagination-bullet-active {
	width: 15px;
	border-radius: 25px;
}

.portofolio .swiper-button-prev,
.portofolio .swiper-button-next {
	display: none;
}

.contact-us {
	position: relative;
	display: flex;
	height: 480px;
	background-color: rgba(30, 30, 32, 0.5);
	align-items: center;
	padding: 60px 0 118px;
	/* margin-bottom: 100px; */
	/* pad-bottom: 90px; */
}

.contact-us .title {
	font-family: "NunitoSans-Bold";
	font-size: 60px;
	line-height: 66px;
}

.contact-us .btn {
	max-width: 201px;
	width: 100%;
}

.contact-us .plus {
	position: absolute;
	top: 60px;
	right: 100px;
}

.contact-us .circle {
	position: absolute;
	bottom: 95px;
	left: 160px;
}

.footer {
	padding: 30px 0 50px;
}
.footer .img-link {
	width: fit-content;
}
.foote .copyright {
	font-size: 16px;
	line-height: 38px;
}
.footer ul {
	margin: 0;
}

.fs-20 {
	font-size: 20px;
	line-height: 28%;
}
.fs-18 {
	font-size: 18px;
}
.fs-21 {
	font-size: 21px;
	line-height: 39px;
}

.gap-20 {
	gap: 20px;
}

.f-light {
	color: #fff !important;
	opacity: 0.7 !important;
}
